/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

.bg-custom-01{
    background-color: #F1F1F1;
}
.bg-custom-02{
    background-color: #FEEAE9;
}
.bg-custom-03{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.bg-custom-04{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.bg-custom-05{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}
.btn-custom-bg{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 168px;
    height: 52px;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.trans:hover{
    transform: scale(1.03);
    transition: transform 0.5s;
}
header{
    background-color: #fff;
}
li a{
    color: #707070;
}
.banner h1{
    font-size: 2.8em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.banner h2{
    font-size: 41;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #FF136F;
}
.container-head a{
    text-decoration: none;
    color: #FF9D00;
    font-family: 'Poppins', sans-serif;
}
.cat h1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
}
.card{
    border-radius: 20px;
}
.box{
    border-radius: 15px;
}
.subscription h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.subscription p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}
input{
    font-family: 'Poppins', sans-serif;
}
.custom-size{
    font-size: 0.8em;
}
.padding{
    padding: 13.5px;
}
footer p{
    font-size: 0.7em;
    color: #c2c0c0;
    font-family: 'Poppins', sans-serif;
}